html{
    font-size: 62.4%; /** reset para REMS " igual a 10 pixeles**/
}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
   
}

/**estandarizar los h**/
h1{
    font-size: 3.8rem;
    color: rgb(0, 88, 131);
}

h2{
    font-size: 3.4rem;
    color: rgb(0, 88, 131);
    color: rgb(0, 88, 131);
}

h3{
    font-size: 3rem;
    color: rgb(0, 88, 131);

}

h3{
    font-size: 2.6rem;
    
    color: rgb(0, 88, 131);
}

p{/**estandar parrafos**/
    font-size: 1.8rem;
}

a{
    color: black;
    text-decoration: none;
}
/**Globales**/
.boton{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 3rem;
    margin-top: 4rem;
    display: inline-block;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 3rem;
}



.contenedor{
    max-width: 128rem;
    margin-left: auto;
    margin-right: auto;
    
}

/**utilidades**/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenido-header{/**flexbox filas**/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contenido-header h1{/**formato para h1 de pagina de inicio**/
    color: rgb(255, 255, 255);
    font-size: 8.5rem;
    padding-bottom: 12rem;    
    text-align: center;    
    
   
}

.contenido-header p{
    color: white;
    font-size: 2.2rem;
    padding-bottom: 2rem;
    max-width: 65rem;
    margin-left: 80rem;
}

/**header del resto de paginas**/

.contenido-header-otras{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contenedor-otras{
    max-width: 128rem;
    margin-left: auto;
    margin-right: auto;
    
}


.contenido-header-otras h1{/**formato para h1 de pagina de inicio**/
    color: white;
    font-size: 8.5rem;
    text-align: center;
    margin: 0;
    
      
}



.barra{/**Barra de menu**/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.barra:last-of-type{/**correr logotipo unad**/
margin-left: 2.5rem;
}

#logo{
margin-left: 26rem;/**centrar el logo de html5**/
margin-right: 1rem;

}



/** header de página de inicio**/
.site-header.inicio{
    background-image: url(../imagenes/fondo.jpg);
    background-position: unset;
    background-size: cover;
    height: 120vh;
    min-height: 70rem;
}

/** header otras páginas*/
.site-header.resto{
    background-image: url(../imagenes/Barra.jpg);
    background-position: unset ;
    background-size: cover;
    height: 30vh;
    min-height: 28rem;
}
/** contenido del menu de inicio**/

.navegacion{/**caja pricipal del menu**/
    border-radius: 2rem;
    margin-right: 5rem;
}

.navegacion ul{
    list-style: none;
    padding: 0;
    
}


.navegacion ul li a{
    background-color: rgb(0, 88, 131);  
    color: white;
    text-decoration: none;
    padding: 1rem 1.2rem;
    display: block;
    border: 0.05rem solid rgb(255, 255, 255);   
    font-size: 1.8rem;
    border-radius: 0.9rem;
    
}
    
    


.navegacion ul li a:hover{
    background-color: rgb(240, 180, 41);
}

.navegacion > ul >  li {
    float: left;
    
}

.navegacion ul li ul{
    display: none;
    position:absolute ;
    min-width: 1rem;
    
}
.navegacion ul li:hover > ul{
    display: block;

}

.navegacion :last-of-type{
    margin: 0;
}


.objetivos{/**flexbox para distribuir espacio entre los intens**/
    display: flex;
    justify-content: space-between;
}

.objetivos :last-of-type{/*espacio entre header y section*/
    margin: 1rem;
}

.ob{
    flex-basis: calc( 33.3% - 4rem);/**función cal para distribuir  los elemnetos en flexbox**/

}

.ob h2{
    text-transform: capitalize;
}

.encabezado_semantica :last-of-type{
    margin: 3rem;
}

.encabezado_semantica{
    text-align: center;
}



.image_vs{
    
    display: flex;
    justify-content: space-between;
    

}

.imagen_main p{
    font-size: 1.2rem;
    text-align: center;
    line-height: 0.01;
    padding-top: 0rem;
    margin: 0;

}

.imagen_main h3{/**titulo de imagenes conceptos**/
    font-size: 3rem;
    text-align: center;
    line-height: 0.01;
    padding-bottom: 1.5rem;
    margin: 0.5;
    

}

.texto_cop{/**parrafos de conceptos**/
    padding-left: 5rem;
    padding-top: 8rem;
    padding-right: 1rem;
}

.texto_cop_dos{/**parrafos de conceptos**/
    padding-left: 0rem;
    padding-top: 12rem;
    padding-right: 5rem;
}




.imagen_main{
    display: flex;
    flex-direction: column;
       
}

.arriba{
    background-color: rgb(0, 88, 131);
}

.arriba:hover{
    background-color: rgb(244, 121, 32);
}



.alinear-boton{
    display: flex;
    justify-content: center;
}

/**Footer**/

.site-footer {
     
    background-color: rgb(244, 121, 32);
    margin: 0;
    

}

.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;

}

.copyright{
    margin: 0;
    color: rgb(255, 255, 255);
    
}

.img_contenido_uno{
    display: block;
    text-align: center;
    padding: 0;  

}

.img_contenido_uno p{/**referencia de imagenes**/
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.img_contenido_dos{
    display: block;
    text-align: center;
    padding: 0;  
    padding-bottom: 1rem;
}

.img_contenido_dos p{/**referencia de imagenes**/
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    
}

.cot_dos p{
    padding-top: 1rem;
    padding: 0;
    
}

.video{
    display: block;
    text-align: center;
    padding: 0;  
    
}

.mapa{
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}