html{
    font-size: 62.4%; /** reset para REMS " igual a 10 pixeles**/
}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
   
}

/**estandarizar los h**/
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;

}

h3{
    font-size: 2.6rem;

}

p{
    font-size: 1.8rem;
}
/**Globales**/

.contenedor{
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
    
}

/**utilidades**/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contenido-header h1{/**formato para h1 de pagina de inicio**/
    color: rgb(240, 180, 41);
    font-size: 8.5rem;
    padding-bottom: 12rem;
    margin-left: 13rem;   
    
   
}

.contenido-header p{
    color: white;
    font-size: 2.2rem;
    padding-bottom: 2rem;
    max-width: 65rem;
    margin-left: 80rem;
}

/**header del resto de paginas**/

.contenido-header-otras{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contenedor-otras{
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
    
}


.contenido-header-otras h1{/**formato para h1 de pagina de inicio**/
    color: white;
    font-size: 8.5rem;
    padding-bottom: 12rem;
    margin-left: 13rem;   
    
   
}



.barra{/**Barra de menu**/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.barra:last-of-type{/**correr logotipo unad**/
margin-left: 2.5rem;
}

#logo{
margin-left: 26rem;/**centrar el logo de html5**/
margin-right: 1rem;

}



/** header de página de inicio**/
.site-header.inicio{
    background-image: url(../imagenes/fondo.jpg);
    background-position: unset ;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

/** header otras páginas*/
.site-header.resto{
    background-image: url(../imagenes/Barra.jpg);
    background-position: unset ;
    background-size: cover;
    height: 30vh;
    min-height: 30rem;
}
/** contenido del menu de inicio**/

.navegacion{/**caja pricipal del menu**/
    border-radius: 2rem;
    margin-right: 5rem;
}

.navegacion ul{
    list-style: none;
    padding: 0;
    
}


.navegacion ul li a{
    background-color: rgb(0, 88, 131);  
    color: white;
    text-decoration: none;
    padding: 1rem 1.2rem;
    display: block;
    border: 0.05rem solid rgb(255, 255, 255);   
    font-size: 1.8rem;
    border-radius: 0.9rem;
    
}
    
    


.navegacion ul li a:hover{
    background-color: rgb(240, 180, 41);
}

.navegacion > ul >  li {
    float: left;
    
}

.navegacion ul li ul{
    display: none;
    position:absolute ;
    min-width: 1rem;
    
}
.navegacion ul li:hover > ul{
    display: block;

}

.navegacion :last-of-type{
    margin: 0;
}


.objetivos{/**flexbox para distribuir espacio entre los intens**/
    display: flex;
    justify-content: space-between;
}

.objetivos :last-of-type{
    margin: 1rem;
}

.ob{
    flex-basis: calc( 33.3% - 4rem);

}

